doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='chrome=1')
        meta(name='description', content='oscardr.github.io : Personal Page on GitHub')

        link(rel='stylesheet', type='text/css', media='screen', href='stylesheets/stylesheet.css')
        link(rel='stylesheet', type='text/css', media='screen', href='stylesheets/font-awesome.min.css')

        title OscardR.github.io

    body
        // HEADER
        #header_wrap.outer
            header.inner
                a#forkme_banner(href='https://github.com/OscardR') View on GitHub

                h1#project_title OscardR

                h2#project_tagline Homepage @ GitHub

        // MAIN CONTENT
        #main_content_wrap.outer
            section#main_content.inner
                nav
                    ul
                        li
                            i.icon-file
                            | &ensp;
                            a(href='cv/index.html') My CV
                        li
                            i.icon-github
                            | &ensp;
                            a(href='http://www.github.com/OscardR') GitHub
                        li
                            i.icon-bitbucket
                            | &ensp;
                            a(href='http://www.bitbucket.org/oscar_dr') Bitbucket
                        li
                            i.icon-code
                            | &ensp;
                            a(href='https://www.codeplex.com/site/users/view/Oscar_dR') CodePlex
                        li
                            i.icon-twitter
                            | &ensp;
                            a(href='http://www.twitter.com/oscar_dr') Twitter

        // FOOTER
        #footer_wrap.outer
            footer.inner
                p
                    | Published with #[a(href='http://pages.github.com') GitHub Pages]
