doctype html
head
    meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
    title EI1061 &mdash; Entregable i02
    // Latest compiled and minified CSS
    link(rel='stylesheet' href='https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css')
    // Optional theme
    link(rel='stylesheet' href='https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css')
    // Latest compiled and minified JavaScript
    script(src='https://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js')
    style.
        .cycle-diagram td {
            width: 48px;
            text-align: center;
            font-family: monospace;
            padding: 8px 0 !important;
        }

        .cycle-diagram td:first-child {
            text-align: right;
            font-family: monospace;
            white-space: nowrap;
            padding: 8px !important;
        }

        .cycle-diagram th {
            text-align: center;
        }

        .cycle-diagram tfoot > tr > td {
            text-align: right;
        }

        .cycle-diagram td > div.alert {
            margin-bottom: 0
        }

        .cycle-diagram td > div.alert.start:after {
            content: "↓";
            font-weight: bold;
        }

        .cycle-diagram td > div.alert.end:before {
            content: "↑";
            font-weight: bold;
        }

