// HEADER
#header_wrap.outer
  header.inner
    a#forkme_banner(href='https://github.com/OscardR') View on GitHub

    h1#project_title OscardR

    h2#project_tagline Homepage @ GitHub

// MAIN CONTENT
#main_content_wrap.outer
  section#main_content.inner
    nav
      ul
        li(@repeat='links as link')
          i(className='{"icon-" + link.icon}')
          | &ensp;
          a(href='{link.href}') {link.title}

// FOOTER
#footer_wrap.outer
  footer.inner
    p
      | Published with #[a(href='http://pages.github.com') GitHub Pages]
