meta(charset='UTF-8')
meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')

title Óscar Gómez Alcañiz — Curriculum Vitae

link(rel='stylesheet', href='../css/bootstrap.min.css')
link(rel='stylesheet', href='../css/font-awesome.min.css', media='screen')
link(rel='stylesheet', href='css/styles.css', media='screen')