div(dangerouslySetInnerHTML={__html: title})

dl
  span(@repeat='pairs as pair')
    dt {pair.key}
    unless pair.link
      dd {pair.value}
    else
      dd
        a(href='{pair.link}') {pair.value}