.job(@repeat='jobs as job')
  if job.from !== 'Invalid date'
    h5.dates {job.from} &mdash; {job.to !== 'Invalid date' ? job.to : 'Currently'}

  h4
    span.company {job.title}
    if job.description
      small.location  | {job.description}

    if job.position
      div
        br
        small.position
          em {job.position}

  div(dangerouslySetInnerHTML={__html: job.body})