@use "sass:math";

$console-alpha: 0.8;
$console-color: white;
$console-background: #202020;
$console-padding: 1em;

.email {
  white-space: pre-wrap;
  background-color: #ffc;
  padding: 1em;
  border-left: 0.4em solid #eeb;
}

section {
  max-width: 83ch;
  margin: 1.2em auto;
  padding: 1em 2em;
  background: rgb(0 0 0 / 2%);
  border-radius: 1em;
  box-shadow: 0.6em 0.6em 0em rgb(0 0 0 / 4%);
}

pre {
  overflow: hidden;
  padding: 0;
  border-radius: math.div($console-padding, 4);

  code {
    max-width: 100%;
    width: 100%;
    overflow-x: auto;
    padding: (0.6 * $console-padding) 1em;
    color: $console-color;
    background-color: transparentize($console-background, 1 - $console-alpha);
    border-radius: math.div($console-padding, 4);
    text-shadow: 1px 1px 1px
      transparentize($console-background, 1 - $console-alpha);
    margin: 0;
  }
}

ul,
ol {
  margin-left: 1em;

  li {
    list-style-position: outside;
    list-style-type: square;
    margin-bottom: 0.6em;

    li {
      list-style-type: disc;
    }
  }
}

h3.date {
  text-indent: -1.8ex;

  &:before {
    content: "📅";
    margin-right: 1ex;
  }
}
