#header_wrap.outer
  header.inner
    h1#project_title Óscar Gómez Alcañiz

    h2#project_tagline.text-right Curriculum Vitae

  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top(role='navigation')
    a.navbar-brand(href='#header_wrap')
      | Óscar Gómez —
      strong  CV

    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navegacion-desplegable' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon

    #navegacion-desplegable.collapse.navbar-collapse(style='{{justifyContent: "flex-end"}}')
      ul.nav.navbar-nav
        li(className='{"nav-item" + (i === 0 ? " active" : "")}', @repeat='menuLinks as link', @key='{i}')
          a.nav-link(href='{link.href}') 
            i(className='{`${link.icon[0]} fa-${link.icon[1]}`}') &ensp;
            | {link.title}

#main_content_wrap.outer
  section#contact.inner.jquery-anchor
    img.photo(src='{images.me}', alt='Profile picture')

    span(@repeat='information as infoblock')
      InformationBlock(info='{infoblock.info}', title='{infoblock.title}')

  hr

  section#experience.inner.jquery-anchor
    h3 Work Experience

    JobsList(jobs='{jobs}')

  hr

  section#education.inner.jquery-anchor
    h3 Education

    EducationList(education='{education}')

  hr

  section#skills.inner.jquery-anchor
    h3 Skills

    Skillset(@repeat='skillsets as skillset', skillset='{skillset}')

  hr

  section#examples.inner.jquery-anchor
    h3 Work Examples

    h4 Design

    h5 Day Of Rising CD Artwork Design

    h6 Original shots

    img.thumb(src='{images.cdRaw1}', alt='Raw Material 1')
    img.thumb.last(src='{images.cdRaw2}', alt='Raw Material 2')
    img(src='{images.cdRaw3}', alt='Raw Material 3')

    h6 Results

    img(src='{images.sampleCdFront}', alt='CD Artwork / Front')
    img(src='{images.sampleCdBack}', alt='CD Artwork / Back')

    h4 Experiments

    h5 Observable

    p
      a(href='https://beta.observablehq.com/@oscardr') #[i.fas.fa-dot-circle] My Notebooks

    h5 CodePen

    p
      a(href='https://codepen.io/OscardR/') #[i.fab.fa-codepen] My Pens

    h4 Websites

    ul
      li
        img.icon(src='https://procurement.web.cern.ch/sites/procurement.web.cern.ch/themes/procurement/favicon.ico', alt='Icon')
        a(href='https://cern.ch/procurement')  Procurement @ CERN

      li
        img.icon(src='https://knowledgetransfer.web.cern.ch/sites/knowledgetransfer.web.cern.ch/themes/kt/favicon.ico', alt='Icon')
        a(href='https://kt.cern')  Knowledge Transfer @ CERN

      li
        img.icon(src='https://www.dayofrising.rocks/img/logo-white.png', alt='Icon')
        a(href='https://www.dayofrising.rocks')  Day Of Rising

#footer_wrap.outer
  footer.inner
    h3 Networking

    LinksList(links='{links}')
