#header_wrap.outer
  header.inner
    h1#project_title Óscar Gómez Alcañiz

    h2#project_tagline.text-right Curriculum Vitae

  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top(role='navigation')
    a.navbar-brand(href='#header_wrap')
      | Óscar Gómez —
      strong  CV
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navegacion-desplegable' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navegacion-desplegable.collapse.navbar-collapse(style='{{justifyContent: "flex-end"}}')
      ul.nav.navbar-nav
        li.nav-item.active
          a.nav-link(href='#contact') Contact Information

        li.nav-item
          a.nav-link(href='#experience') Work Experience

        li.nav-item
          a.nav-link(href='#education') Education

        li.nav-item
          a.nav-link(href='#skills') Skills

        li.nav-item
          a.nav-link(href='#examples') Work Examples

#main_content_wrap.outer
  section#contact.inner.jquery-anchor
    img.photo(src='{images.me}', alt='Profile picture')

    h3 Contact Information

    dl
      dt Name
      dd Óscar Gómez Alcañiz

      //-
          dt Address
          dd
              address
                  | 226 Chemin de l'Ecole
                  br
                  | Le Domaine
                  br
                  | 01280 Prévessin-Moëns
                  br
                  | France

          dt Phone Number
          dd
              a(href='tel:+41765964327') +41 765 96 43 27

      dt Email
      dd
        a(href='mailto:oscar.gomez.alcaniz@gmail.com') oscar.gomez.alcaniz@gmail.com

      dt Skype
      dd
        a(href='callto:oscar.gomez.alcaniz') oscar.gomez.alcaniz

    h3 Personal Information

    dl
      dt Date of Birth
      dd 09/06/1983

      dt Born in
      dd Castellón de la Plana

      dt Nationality
      dd Spanish

      dt Gender
      dd Male

  hr

  section#experience.inner.jquery-anchor
    h3 Work Experience

    .job(@repeat='jobs as job')
      h5.dates {job.from} &mdash; {job.to !== 'Invalid date' ? job.to : 'Currently'}

      h4
        span.company {job.title}
        small.location  | {job.description}
        br
        small.position
          em {job.position}

      div(dangerouslySetInnerHTML={__html: job.body})

    .job
      h5.dates Side jobs

      p.
        Throughout all this period, in between jobs or along my studies at high school and university,
        I always carried out other jobs non-related to IT or design, which contributed towards my
        – personal rather than professional – development.

  hr

  section#education.inner.jquery-anchor
    h3 Education

    .education(@repeat='education as school')
      h5.dates {school.from} – {school.to !== 'Invalid date' ? school.to : 'Currently'}

      h4
        span.school {school.title}
        small.location  | {school.location}

      div(dangerouslySetInnerHTML={__html: school.body})

    //.education
    //  h5.dates 2003 – 2004
    //
    //  h4
    //    span.school Course on Web Design, HTML and FLASH
    //    small.location  | Castellón
    //
    //  p.
    //    Intensive course – Completed after three months.
    //
    //.education
    //  h5.dates 2000
    //
    //  h4
    //    span.school IES Penyagolosa
    //    small.location  | Castellón
    //
    //  p
    //    abbr(title='Bachillerato Unificado Polivalente') BUP
    //    | +
    //    abbr(title='Curso de Orientación Universitaria') COU
    //    |  (high school).

  hr

  section#skills.inner.jquery-anchor
    h3 Skills

    .skill
      h4.field IT Knowledge

      ul
        li
          h5.category Operating Systems

          ul
            li Linux
              small  | Ubuntu / Archlinux / CentOS / AmazonLinux

            li Windows
              small  | XP / Vista / 7 / 8 / 10

            li Mac OS X
              small  | 10.x

        li
          h5.category Design tools

          ul
            li Adobe Creative Suite
              small  | Photoshop / InDesign / Illustrator / Flash

        li
          h5.category Programming languages &amp; Frameworks

          ul
            li Modern Web
              small  | HTML5 / CSS3

            li Javascript
              small  | jQuery 2 / AngularJS 1.5 / EmberJS / ES2015 / Gulp / Babel

            li PHP
              small  | Slim Framework 3 / CodeIgniter 4 / Laravel 5 / Drupal 7

            li Java
              small  | Spring 3

            li Python
              small  | SciPy / PyBrain

            li C/C++
              small  | OpenCV / ROS

            li Ruby
              small  | Rails 4

            li DataBases
              small  | MySQL 5 / Oracle DB 12 / PL/SQL 11 / MongoDB

            li Actionscript 3.0
              small  | Flash
        li
          h5.category Other computing skills

          ul
            li CLI Tools
              small  | Bash / PowerShell

            li Development environment
              small  | Vagrant / Docker

        li
          h5.category Office tools

          ul
            li Microsoft Office
              small  | SharePoint / InfoPath / VBA / Access / Excel

        li
          h5.category Audio/video editing tools

          ul
            li Steinberg Nuendo
              small  | Music production / Mixing / Mastering

            li Adobe Audition
              small  | Sound edition

            li After Effects
              small  | Video editing / Special FX

    .skill
      h4.field Languages

      p
        | Level classification according to the
        a(href='http://en.wikipedia.org/wiki/Common_European_Framework_of_Reference_for_Languages')
          |  Common European Framework of Reference for Languages
        | :

      .table-responsive
        table
          thead
            tr
              td(style={border: 'none'})
              th Speaking
              th Listening
              th Reading
              th Writing

          tbody
            tr
              th English
              td C1
              td C2
              td C2
              td C1

            tr
              th French
              td B1
              td B2
              td C1
              td B2

            tr
              th Spanish
              td(colSpan='4', style={textAlign: 'center'}) C2 (native)

            tr
              th Catalan / Valencian
              td C1
              td C1
              td C2
              td C1

    .skill
      h4.field Driving License

      p.
        I got my driving license on 2003, and I have a wide experience with both tourisms and vans.

    .skill
      h4.field Personal Skills

      p.
        I am an extrovert and kind person, who loves enjoying a job as much as possible.
        I am detail oriented in everything I do. I am always willing to learn in order to solve
        problems. I consider myself sincere, responsible and committed to my job. I enjoy music,
        cinema and natural life, I can play several musical instruments and consider myself
        a creative person.

  hr

  section#examples.inner.jquery-anchor
    h3 Work Examples

    h4 Design

    h5 Day Of Rising CD Artwork Design

    h6 Original shots

    img.thumb(src='{images.cdRaw1}', alt='Raw Material 1')
    img.thumb.last(src='{images.cdRaw2}', alt='Raw Material 2')
    img(src='{images.cdRaw3}', alt='Raw Material 3')

    h6 Results

    img(src='{images.sampleCdFront}', alt='CD Artwork / Front')
    img(src='{images.sampleCdBack}', alt='CD Artwork / Back')

    h4 Experiments

    h5 Observable

    p
      a(href='https://beta.observablehq.com/@oscardr') My Notebooks

    h5 CodePen

    p
      a(href='https://codepen.io/OscardR/') My Pens

    h4 Websites

    ul
      li
        img.icon(src='https://procurement.web.cern.ch/sites/procurement.web.cern.ch/themes/cern_subtheme_procurement/favicon.ico', alt='Icon')
        a(href='https://cern.ch/procurement')  Procurement @ CERN

      li
        img.icon(src='https://fap-dep.web.cern.ch/sites/fap-dep.web.cern.ch/themes/cern_subtheme_fap/favicon.ico', alt='Icon')
        a(href='https://cern.ch/fap-dep')  Finance and Administrative Processes Department @ CERN

      li
        img.icon(src='https://www.dayofrising.rocks/img/logo-white.png', alt='Icon')
        a(href='https://www.dayofrising.rocks')  Day Of Rising

#footer_wrap.outer
  footer.inner
    h3 Networking

    LinksList(links='{links}')
